form{
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 20px;
    & mat-radio-group{
      margin: 25px 0;
    }
    & mat-radio-button{
      margin: 0 20px;
    }
}
div.double{
  display: flex;
   & mat-form-field:first-child{
    margin-right: 30px;
   }
   & mat-form-field{
    width: 100%;
   }
}
.address{
  & mat-form-field{
    width: 100%;
  }
}
.button{
  text-align: center;
}
button{
  margin:0 20px;
}
.grid-container{
  padding: 30px;
  width: max-content;
  margin: auto;
}

